@media (max-width: 900px) {
    .container {
        width: 510px;
    }

    .textbox {
        font-size: 14px;
        height: 100px;
        font-weight: 500;
    }
}

@media (max-width: 500px) {
    .container {
        width: 310px;
    }

    .textbox {
        font-size: 12px;
        height: 100px;
        font-weight: 500;
    }
}

@media (max-height: 500px) {
    .textbox {
        font-size: 12px;
        height: 50px;
        font-weight: 500;
    }
    
    button {
        height: 40px;
        width: 200px;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 300;
        border-radius: 5px;
        border-style: none;
    }
}