* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(#b26bff, #6057ff);
}

h1 {
    color: #ffffff;
    margin: 0 0 20px 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 100;
}

.container {
    height: 100%;
    width: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
}

.textbox {
    font-family: Roboto, Verdana;
    font-weight: 300;
    height: 250px;
    width: 700px;
    resize: none;
    font-size: 19px;
    padding: 15px 15px;
    color: #444;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(93, 93, 93, 0.5);
    border-color: rgb(216, 216, 216);
    transition: 400ms;
    border-style: none;
}

.textbox::placeholder {
    font-family: Roboto;
    font-weight: 300;
    opacity: 0.2;
    color: rgb(128, 128, 128);
}

.textbox:focus {
    outline: none !important;
    box-shadow: 0px 0px 30px rgb(255, 0, 255);
}

.textbox:read-only {
    background-color: #e1e1e1;
}

button {
    background: linear-gradient(#ffffff, #d4faff);
    display: block;
    height: 60px;
    width: 300px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    margin: 30px 0 30px 0;
    box-shadow: 1px 3px 10px #2020204d;
    border-radius: 8px;
    border-style: none;
    transition: 0.15s all;
}

button:hover {
    background-color: rgb(215, 241, 255);
    transform: scale(1.05);
    transition: 0.15s all;
}

button:active {
    background-color: rgb(0, 0, 0);
    transform: scale(1.08);
    transition: 0.15s all;
}

.modal {
    visibility: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff00;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-container {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
}

.modal .block {
    display: block;
    height: 80vh;
    width: 35vw;
    background-color: #ffffffe4;
    border-radius: 10px;
    box-shadow: 0 0 15px #0000002b;
    padding: 20px;
}

.about {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 1.5vw;
    font-weight: 300;
}

.block .box {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block .example {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 1.5vw;
    font-weight: 300;
    background-color: #4444441c;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.block .inst {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 1.5vw;
    font-weight: 300;
}

.block .example:hover {
    background-color: #44444429;
}

.modal .close {
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #000;
    cursor: pointer;
}

.info {
    text-decoration: none;
    color: #fff;
    background-color: #7f16dbcb;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
